<?xml version="1.0"?>

<launch>
	<arg name="topic_name" default = "camera"/>
	<arg name="calibrated" default="false"/>


		<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		    <param name="video_device" value="/dev/video0" />
		    <param name="image_width" value="640" />
		    <param name="image_height" value="480" />
		    <param name="pixel_format" value="yuyv" />          <!-- possible values are mjpeg, yuyv, uyvy -->
		    <param name="camera_frame_id" value="usb_cam" />
		    <param name="io_method" value="mmap"/>              <!-- possible valuse are mmap, read, userptr -->
		    <param name="camera_name" value="narrow_stereo"/>  <!-- Must be the same as the camera name in the 																					webcam_intrinsic_parameters.yaml -->
		    <param name="camera_info_url" if="$(arg calibrated)" value="file://$(find my_camera_calibration)/param/webcam_intrinsic_parameters.yaml"/>
		    <remap from="usb_cam/image_raw" to="$(arg topic_name)"/>
		</node>
	
	

</launch>